body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.error-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

h1 {
    color: #d9534f;
}

.stack-trace {
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}
