<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/handlers.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>