@{
    ViewData["Title"] = "Entrance";
    ViewData["FormAction"] = "/Authentication/Authorization";
    ViewData["ButtonLabel"] = "Log in";
    ViewData["TransferLinkText"] = "Don't have an account? <a href=\"/Authentication/Registration\">Register</a>";
}

@Html.Partial("~/Views/Templates/AuthenticationTemplateForm.cshtml")

