@{
    ViewData["Title"] = "Registration";
    ViewData["FormAction"] = "/Authentication/Registration";
    ViewData["ButtonLabel"] = "Register";
    ViewData["TransferLinkText"] = "Already have an account? <a href=\"/Authentication/Authorization\">Login</a>";
}

@Html.Partial("~/Views/Templates/AuthenticationTemplateForm.cshtml")

